html, body, #app {
  height: 100%;
}

.pull.request {
  font-family: monospace;
  font-weight: bold;
  font-size: 1.1rem;
}

.right.floated.times.circle.outline.icon {
  color: #909090;
}
.right.floated.times.circle.outline.icon:hover {
  color: red;
  cursor: pointer;
}

.inline {
  display: inline-block;
}

.flexbox {
  display: flex;
}
.flexbox.column {
  flex-direction: column;
}

.full.height {
  height: 100%;
}

.capitalize {
  text-transform: capitalize;
}

.text.big {
  font-size: 1.2rem;
}
.text.align.center {
  text-align: center;
}

.page-content {
  margin-top: 6rem;
  flex: 1;
}

footer {
  padding: 3rem 2rem;
  text-align: center;
}

.maxw600 {
  max-width: 600px;
}

.margin.auto {
  margin: auto;
}

/**
 * Repo Summary 
 */
 .ui.card>.content.mute-data,
 .ui.cards>.card>.content.mute-data {
  background-image:
    repeating-linear-gradient(
      45deg,
      transparent, transparent 10px,
      #ededed 10px,
      #ededed 11px),
    repeating-linear-gradient(
      -45deg,
      transparent, transparent 10px,
      #ededed 10px,
      #ededed 11px);
}
.ui.card>.content.mute-data>.description,
.ui.cards>.card>.content.mute-data>.description {
  color:#7b7b7b;
}
.content.mute-data>.description>i.red.icon,
.content.mute-data>.description>i.green.icon {
  color:#7b7b7b!important;
}

/**
 * Project Summary
 */
.project-summary {
  height: 215px;
}

.project-summary a .header {
  color: #000;
}
.project-summary a .header:hover {
  color: #3e397f;
}

/**
 * media query
 */
@media only screen and (max-width: 599px) {
  .sub.header.mobile.hidden {
    display: none;
  }
}

/**
 * Semantic UI Overrides
 */