html, body, #app {
  height: 100%;
}

.pull.request {
  font-family: monospace;
  font-weight: bold;
  font-size: 1.1rem;
}

.right.floated.times.circle.outline.icon {
  color: #909090;
}
.right.floated.times.circle.outline.icon:hover {
  color: red;
  cursor: pointer;
}

.inline {
  display: inline-block;
}

.flexbox {
  display: flex;
}
.flexbox.column {
  flex-direction: column;
}

.full.height {
  height: 100%;
}

.capitalize {
  text-transform: capitalize;
}

.text.big {
  font-size: 1.2rem;
}

.page-content {
  margin-top: 6rem;
  flex: 1;
}

footer {
  padding: 3rem 2rem;
  text-align: center;
}

/**
 * Semantic UI Overrides
 */