html, body, #app {
  height: 100%;
}

.pull.request {
  font-family: monospace;
  font-weight: bold;
  font-size: 1.1rem;
}

.right.floated.times.circle.outline.icon {
  color: #909090;
}
.right.floated.times.circle.outline.icon:hover {
  color: red;
  cursor: pointer;
}

.inline {
  display: inline-block;
}

.flexbox {
  display: flex;
}
.flexbox.column {
  flex-direction: column;
}

.full.height {
  height: 100%;
}

.capitalize {
  text-transform: capitalize;
}

.text.big {
  font-size: 1.2rem;
}
.text.align.center {
  text-align: center;
}

.page-content {
  margin-top: 6rem;
  flex: 1;
}

footer {
  padding: 3rem 2rem;
  text-align: center;
}

.maxw600 {
  max-width: 600px;
}

.margin.auto {
  margin: auto;
}

/**
 * Project Summary
 */
.project-summary {
  height: 200px;
}

/**
 * media query
 */
@media only screen and (max-width: 599px) {
  .sub.header.mobile.hidden {
    display: none;
  }
}

/**
 * Semantic UI Overrides
 */