<div class="ui search">
  <div class="ui icon input big">
    <input type="text"
            class="prompt"
            placeholder="project name"
            onchange={{@addProject}} />
    <i class="search plus icon green large"></i>
  </div>
  <div class="results"></div>
</div>
