<h1 class="ui heder">Project Pulse</h1>

<div class="project-pulse">
  <ProjectPanel @projectName="bitcoin"}} />
  <ProjectPanel @projectName="ethereum"}} />
  <ProjectPanel @projectName="xrp"}} />
  <ProjectPanel @projectName="bitcoin-cash"}} />
  <ProjectPanel @projectName="eos"}} />
</div>
