{{!
  ProjectPanel is a View (as in MVC) that wrapps around ProjectSummary.
}}

<div class="project-panel">
  {{#if project}}
    <ProjectSummary @project={{project}}
                    @close={{action @removeProject project.id}} />
  {{else}}
    <br>
    <div class="ui active centered inline loader middle aligned"></div>
    <br>
  {{/if}}
</div>